[Desktop Entry]
Version=1.0
Type=Application
Name=Clippy
Comment=A native clipboard manager for GNOME/Linux
Exec=clippy
Icon=io.github.CharanMunur.Clippy
Terminal=false
Categories=Utility;GTK;
Keywords=clipboard;copy;paste;history;
StartupNotify=false
StartupWMClass=io.github.CharanMunur.Clippy
