[Desktop Entry]
Version=1.0
Type=Application
Name=Clippy
Comment=A native clipboard manager for GNOME/Linux
Exec=/usr/bin/clippy
Icon=org.gnome.Clippy
Terminal=false
Categories=Utility;GTK;
Keywords=clipboard;copy;paste;history;
StartupNotify=false
StartupWMClass=org.gnome.Clippy
